/* Global reset and fonts */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  color: #222;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Basic utility classes */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1200px) {
  .container {
    width: 96%;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
